.status-bar-wrapper {
  position: absolute;
  top: 1rem;
  right: 2rem;
  overflow: hidden;
  width: 120px;
  height: 8px;
  border-radius: 100px;
  background: #383838;
}

.status-bar {
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(102.86%, #7024d0),
    color-stop(202.86%, #640ad7)
  );
  background: -o-linear-gradient(top, #7024d0 102.86%, #640ad7 202.86%);
  background: linear-gradient(180deg, #7024d0 102.86%, #640ad7 202.86%);
  -webkit-box-shadow: 0 0 4px #7000ff;
  box-shadow: 0 0 4px #7000ff;
}
