.container {
  @include grid-container();

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  justify-items: center;

  @include for-desktop-up {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .faqs {
    @include flex-container(column, center, flex-start, 1rem, wrap);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    a {
      text-decoration: underline;
      color: #8235e5;
    }
  }
}
