.hero {
  @include flex-container(column, center, center);
  position: relative;
  height: 100vh;

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 49px;
    margin-bottom: 19px;
    text-align: center;
    color: #ffffff;
  }

  &__subtitle,
  &__content {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    margin-bottom: 31px;
    color: #ffffff;
  }

  &__subtitle {
    text-align: center;
  }

  &__content {
    margin: 0 auto 6rem;
    padding: 2rem;
    text-align: justify;
  }

  &__content {
    p:first-child {
      font-size: 18px;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 1.5rem;
    }

    ul {
      margin-bottom: 2rem;
      padding-left: 40px;
      @include for-phone-only {
        padding-left: 10px;
      }
    }

    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-bottom: 5px;
      gap: 12px;
    }

    figure {
      @include flex-container(row, center, center);
    }
  }

  .btn {
    width: 241px;
  }

  @include for-tablet-landscape-up {
    &__title {
      font-size: 100px;
      font-weight: bold;
      line-height: 85px;
      margin-bottom: 24px;
    }

    &__subtitle {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 24px;
      margin-bottom: 62px;
      text-align: center;
      color: #ffffff;
    }

    &__content {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      line-height: 24px;
      width: fit-content;
      margin-bottom: 6rem;
      text-align: justify;
      color: #ffffff;
      text-shadow: 0 0 3px rgb(0 0 0 / 25%);
    }

    &__content {
      p:first-child {
        font-size: 25px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 2rem;
      }
    }
  }
}
