#section-fundamentals {
  .cards-wrapper {
    @include grid-container();
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    justify-items: center;
    grid-column-gap: 47px;
    grid-row-gap: 47px;

    @include for-tablet-landscape-up {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .card {
      @include flex-container(column, center, center);
      position: relative;
      overflow: hidden;
      width: 100%;
      max-width: 460px;
      height: 100%;
      min-height: 600px;
      border-radius: 22px;

      figure {
        @include flex-container(row, center, center);
        width: 100%;
        height: 299px;
        border: 1px solid rgba(255, 255, 255, 0.06);
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
      }

      &__body {
        @include flex-container(column, space-between, flex-start, 1rem);
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 100%;
        padding: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 0 0 22px 22px;
        background: rgba(26, 26, 26, 0.56);
      }

      &__title {
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        line-height: 30px;
        color: #ffffff;
      }

      &__content {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        line-height: 21px;
        margin-bottom: 2rem;
        text-align: justify;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
      }

      .btn {
        -webkit-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
      }

      .btn:hover {
        -webkit-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }

      @include for-phone-only {
        &__title {
          font-size: 18px;
          line-height: 21px;
        }

        &__content {
          font-size: 14px;
          line-height: 18px;
        }

        &__body {
          min-height: 250px;
        }
      }

      @include for-tablet-landscape-up {
        &__title {
          font-size: 18px;
          line-height: 21px;
        }

        &__content {
          font-size: 16px;
          line-height: 18px;
        }
      }

      @include for-desktop-up {
        &__title {
          font-size: 25px;
          line-height: 30px;
        }

        &__content {
          font-size: 17px;
          line-height: 21px;
        }
      }
    }

    .card:nth-of-type(1) figure {
      background: $gradient-4;
    }

    .card:nth-of-type(2) figure {
      background: $gradient-5;
    }

    .card:nth-of-type(3) figure {
      background: $gradient-6;
    }
  }
}
