.terms-of-use {
  @include flex-container(column, center, flex-start);
  margin: 0px auto;
  padding: 4rem 0;

  @include for-phone-only {
    max-width: 80%;
  }

  @include for-tablet-portrait-up {
    max-width: 80%;
  }

  @include for-desktop-up {
    max-width: 60%;
  }

  article {
    margin-bottom: 4rem;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  li {
    display: list-item;
  }

  h1,
  h2,
  h3 {
    color: #fff;
    padding-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-align: left;
  }

  h1,
  h2 {
    line-height: 2rem;
    font-size: 1.5rem;
  }

  p,
  li {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(215, 215, 215);
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-align: left;
    padding-bottom: 1rem;
  }
}
